html {
    font-family: 'Comic Sans MS', freeHandWriteFont, cursive, LiSu, sans-serif;
}

* {
  background-color: #1E1E1E;
  color: #D4D4D4;
}

body {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/paginator";