.header {
  margin: 2em 0 1em 0
  display: flex
  padding: 0 20px
  align-items: baseline
  justify-content: space-between

  .blog-title .logo {
    color: #D4D4D4;
    font-size: 2em;
    text-decoration: none;
  }

  .menu {
    margin: 0;
    padding: 0;

    .menu-item {
      display: inline-block;
      margin-right: 10px;
    }

    .menu-item-link {
      color: #D4D4D4;
      text-decoration: none;

      &:hover {
        color: #368CCB;
      }
    }
  }
}